# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
.env/
.venv/

# PyCharm / VSCode
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
.localized

# Model checkpoints & compilation outputs
checkpoints/
results/
*.pt
*.onnx
*.safetensors

# Test and Logs
.pytest_cache/
*.log

# Distribution / packaging
build/
dist/
*.egg-info/
